h1{text-align:center; font-family: Poppins-Medium;
    font-size: 30PX; }
    
.addquesForm{
	width: 500px;
    border-radius: 10px;
    overflow: hidden;
    padding:0px 50px 20px 50px;
    background: #9152f8;
    background: -webkit-linear-gradient(top, #7579ff, #b224ef);
    width: 495px;
    margin: 0 auto;
    color: #FFF;
}

.addquesForm{
	margin-top: 50px;
}

.input10{
font-family: Poppins-Regular;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    display: block;
    width: 80%;
    height: 45px;
     border-bottom: 2px solid rgba(255,255,255,0.24);    
    background: transparent;
    padding: 0 5px 0 38px;
    
}

.input10:focus{border-bottom: 2px solid ;  }

input {
    outline: none;
    border: none;}
    
    input {
    overflow: visible;}
    
    .saveques:hover {color: #fff;}
	

.saveques{
	
    text-decoration: none;
    font-size: 21px;
    justify-content: center;
    padding: 10px 50px;
    position: relative;
    left: 34%;
    font-family: monospace;
    border: none;
    color: yellow;
    cursor: pointer;
    align-items: center;
    font-family:monospace;
    border-radius: 44px;
    background: -webkit-linear-gradient(bottom, #7579ff, #b224ef);
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    width: 262px;
    margin-top: 20px;
        }
    
    .input10:focus {
    border-bottom: 2px solid;
}

.label {
    font-variant: small-caps;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}


.addquesForm input[type="text"]:focus /*, .test select:focus */{
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}